body {
    font-family: 'Poppins', sans-serif;
    backgroupn;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.flex-container{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    padding-left: 5%;
}

.btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    font-weight: 800;
    color: white;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}